body {
  margin: 0px 10%;
}

p {
  margin: 0;
}

.resume {
  display: flex;
  flex-direction: row;
  background-color: #333333;
  padding: 3% 3%;
  color: white;
}

.column-left {
  flex: 35%;
  border-right: 3px solid gray;
}

.column-right {
  flex: 65%;
}

@media (max-width: 768px) {
  .resume {
    display: flex;
    flex-direction: column;
  }
}

.profile-image {
  max-width: 50%;
  border-radius: 50%;
}

.info {
  line-height: 1.5;
  text-align: left;
}
.info p {
  display: inline-block;
  margin: 0;
}

.info-left {
  width: 80px;
}

.social {
  display: flex;
  justify-content: space-around;
  margin: 5% 0%;
}

.icon {
  color: #0de599;
}

.profile {
  text-align: center;
  padding: 0% 5%;
}

.section {
  margin: 7% 0px;
  line-height: 1.5;
  max-width: 100%;
  text-align: left;
}

.section-first {
  margin: 0 auto;
}

.title {
  border-bottom: 5px solid #0de599;
}

.row {
  margin: 3% 0px;
}

.tech-left {
  width: 50%;
}

.inline {
  display: inline-block;
}

.exp-title {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
}

.duration {
  display: inline-block;
  float: right;
  color: #7A7A7A;
}

.block {
  padding: 1% 0%;
}
